filters:
  - enabled: true
    url: https://filters.adtidy.org/android/filters/10_optimized.txt
    name: "1"
    id: 1706443154
  - enabled: true
    url: https://filters.adtidy.org/android/filters/15_optimized.txt
    name: "2"
    id: 1706443155
  - enabled: true
    url: https://filters.adtidy.org/android/filters/1_optimized.txt
    name: "4"
    id: 1706443156
  - enabled: true
    url: https://easylist-downloads.adblockplus.org/cntblock.txt
    name: adb
    id: 1706443157
  - enabled: true
    url: https://urlhaus-filter.pages.dev/urlhaus-filter-ag-online.txt
    name: "55"
    id: 1706443158
  - enabled: true
    url: https://filters.adtidy.org/android/filters/14_optimized.txt
    name: "21"
    id: 1706443159
  - enabled: true
    url: https://filters.adtidy.org/android/filters/18_optimized.txt
    name: "213"
    id: 1706443160
  - enabled: true
    url: https://filters.adtidy.org/android/filters/19_optimized.txt
    name: "123"
    id: 1706443161
  - enabled: true
    url: https://filters.adtidy.org/android/filters/20_optimized.txt
    name: 32141e
    id: 1706443162
  - enabled: true
    url: https://filters.adtidy.org/android/filters/21_optimized.txt
    name: "2323"
    id: 1706443163
  - enabled: true
    url: https://filters.adtidy.org/android/filters/22_optimized.txt
    name: awd
    id: 1706443164
  - enabled: true
    url: https://easylist-downloads.adblockplus.org/antiadblockfilters.txt
    name: 234f
    id: 1706443165
  - enabled: true
    url: https://filters.adtidy.org/android/filters/17_optimized.txt
    name: tr1
    id: 1706443166
  - enabled: true
    url: https://filters.adtidy.org/android/filters/3_optimized.txt
    name: qawd
    id: 1706443167
  - enabled: true
    url: https://easylist.to/easylist/easyprivacy.txt
    name: qawd32qr
    id: 1706443168
  - enabled: true
    url: https://raw.githubusercontent.com/DandelionSprout/adfilt/master/LegitimateURLShortener.txt
    name: qe2dwa
    id: 1706443169
  - enabled: true
    url: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=adblockplus&mimetype=plaintext
    name: 2q4324wtfd
    id: 1706443170
  - enabled: true
    url: https://www.fanboy.co.nz/fanboy-antifacebook.txt
    name: 32rdfew
    id: 1706443171
  - enabled: true
    url: https://fanboy.co.nz/fanboy-antifonts.txt
    name: awdawd
    id: 1706443172
  - enabled: true
    url: https://raw.githubusercontent.com/goupriver/adguardlists/main/list.tx
    name: awdawdawd
    id: 1706443173
